.film-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.film-table th,
.film-table td {
    padding: .75rem 1rem;
    text-align: left;
}

.film-table thead {
    background-color: #1976d2;
    color: #fff;
    text-transform: uppercase;
}

.film-table tbody tr:nth-child(even) {
    background-color: darkgray;
}

.film-table tbody tr:hover {
    background-color: gray;
}